In [1]:
import pandas as pd
import numpy as np

In [2]:
def recognise_ints(int_array):
    nests = []
    for s in int_array:
        nests.append(int(s))
    return nests

def recognise_regions(string_array):
    nests = []
    for s in string_array:
        split = s.split('-')
        if len(split) > 1:
            rng = np.arange(int(split[0]),int(split[1])+1, dtype=int)
            nests = list(np.concatenate([nests,rng]).astype('int'))
        elif len(split) ==1:
            print('recognise single int')
    return nests

# load excel

In [3]:
df = pd.read_excel('/Users/maximilianproll/OneDrive - Aalto-yliopisto/project_detect_bird_nests/data/Flight_Card_2017_AirData_in.xlsx')
df.head(2)

,day,month,Flight N,N. Nests Ed,Arrival time,Time flight started,time flight ended,Temp (F)_AirData,cloud cover_AirData,Wind speed (mph)_AirData,Humidity_AirData,weather,Ad. Present at flight start,time when Ad flushed,nest stage,N. eggs found on thermal camera,comments,Frames 0,Frames 1,Frames 2
0,16,5,1_F2_25,5,13:30:00,13:32:00,NaN,53.9,1,2.6,41,sunny,away,NaN,NaN,NaN,NaN,"390-421, 788-821","128-150, 153-184",NaN
1,16,5,2_F4_15,1,13:47:00,13:50:00,NaN,54.9,1,2.5,39,sunny,away,NaN,NaN,NaN,NaN,"677-694, 813-835","319-336, 619-636",NaN

# trim data frame to relevant columns only

In [4]:
col_list = ['Flight N', 'Frames 0', 'Frames 1', 'Frames 2']
df = df[col_list]
df.head(4)

   Flight N                    Frames 0          Frames 1 Frames 2
0   1_F2_25            390-421, 788-821  128-150, 153-184      NaN
1   2_F4_15            677-694, 813-835  319-336, 619-636      NaN
2  3_F2N_15                         NaN               NaN      NaN
3  4_F2S_15  267-302, 363-388, 979-1000     1-12, 961-978      NaN

# create array of dictionaries for each flight and the frames, where nests have been found

In [5]:
nest_array = []
for index, row in df.iterrows():
    
    flight = row['Flight N']
    n0 = row['Frames 0']
    n1 = row['Frames 1']
    n2 = row['Frames 2']
    
    dic = {'Flight':flight, 'Frames 0': n0 ,'Frames 1': n1, 'Frames 2': n2}
    nest_array.append(dic)

In [6]:
nest_array[0]

{'Flight': '1_F2_25',
 'Frames 0': '390-421, 788-821',
 'Frames 1': '128-150, 153-184',
 'Frames 2': nan}

# add to each dictionary an array of all frames, that contain a nest

In [7]:
for flight_dic in nest_array:
    print('Flight:', flight_dic['Flight'])
    new_keys, nests = [], []
    for key,value in flight_dic.items():

        if key != 'Flight':
#             print(key,value)
            if key == 'Frames 0':
                new_keys.append('Nests 0')
            elif key == 'Frames 1':
                new_keys.append('Nests 1')
            elif key == 'Frames 2':
                new_keys.append('Nests 2')
            
            if type(value) == float:
                nests.append([])
                print('\t done with key ', key)
                continue
            str_sp = value.split(',')
    #         print(str_sp)
            if len(str_sp) >1:
    #             print('recognise multiple regions')
    #             nests = list(np.concatenate([nests,recognise_regions(str_sp)]))
    #             print('nests:', recognise_regions(str_sp))
                nests.append(recognise_regions(str_sp))
            elif len(str_sp) == 1:
    #             print(str_sp)
    #             print('recognise single region or single int')
                if len(str_sp[0].split('-')) > 1:
    #                 print('recognise single region')
    #                 print(recognise_regions(str_sp))
    #                 nests = list(np.concatenate([nests,recognise_regions(str_sp)]))
    #                 print('nests:', nests)
                    nests.append(recognise_regions(str_sp))
                elif len(str_sp[0].split('-')) == 1:
    #                 print('recognise single int')
    #                 print(recognise_ints(str_sp))
                    nests.append(recognise_ints(str_sp))
            print('\t done with key ', key)

    for c, key in enumerate(new_keys, 0):
        flight_dic[key] = nests[c]

Flight: 1_F2_25
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 2_F4_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 3_F2N_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 4_F2S_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 5_F4_25
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 6_F2N_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 8_F1_25
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 9_F4_25
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 10_F2S_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 11_F4_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 12_F1A_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 13_F1_25
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 14_F4_25
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 15_F2_25
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 17_F1A_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 18_F4_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 19_F2S_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 20_F2N_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 21_F1A_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2
Flight: 22_F1B_15
	 done with key  Frames 0
	 done with key  Frames 1
	 done with key  Frames 2

In [15]:
i = 13
print(nest_array[i]['Frames 0'])
print(nest_array[i]['Nests 0'])
print()
print(nest_array[i]['Frames 1'])
print(nest_array[i]['Nests 1'])
print()
print(nest_array[i]['Frames 2'])
print(nest_array[i]['Nests 2'])

438-478, 534-575
[438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575]

18-62, 68-113, 116-162, 558-561, 565-635, 654-695, 963-1000
[18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 558, 559, 560, 561, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

1
[1]

In [16]:
nest_array[0]

{'Flight': '1_F2_25',
 'Frames 0': '390-421, 788-821',
 'Frames 1': '128-150, 153-184',
 'Frames 2': nan,
 'Nests 0': [390,
  391,
  392,
  393,
  394,
  395,
  396,
  397,
  398,
  399,
  400,
  401,
  402,
  403,
  404,
  405,
  406,
  407,
  408,
  409,
  410,
  411,
  412,
  413,
  414,
  415,
  416,
  417,
  418,
  419,
  420,
  421,
  788,
  789,
  790,
  791,
  792,
  793,
  794,
  795,
  796,
  797,
  798,
  799,
  800,
  801,
  802,
  803,
  804,
  805,
  806,
  807,
  808,
  809,
  810,
  811,
  812,
  813,
  814,
  815,
  816,
  817,
  818,
  819,
  820,
  821],
 'Nests 1': [128,
  129,
  130,
  131,
  132,
  133,
  134,
  135,
  136,
  137,
  138,
  139,
  140,
  141,
  142,
  143,
  144,
  145,
  146,
  147,
  148,
  149,
  150,
  153,
  154,
  155,
  156,
  157,
  158,
  159,
  160,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  169,
  170,
  171,
  172,
  173,
  174,
  175,
  176,
  177,
  178,
  179,
  180,
  181,
  182,
  183,
  184],
 'Nests 2': []}

In [21]:
for flight_dic in nest_array:
    print(flight_dic['Flight'])
    print(flight_dic['Frames 0'])
    print(flight_dic['Nests 0'])
    print()
    print(flight_dic['Frames 1'])
    print(flight_dic['Nests 1'])
    print()
    print(flight_dic['Frames 2'])
    print(flight_dic['Nests 2'])
    print()

1_F2_25
390-421, 788-821
[390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821]

128-150, 153-184
[128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184]

nan
[]

2_F4_15
677-694, 813-835
[677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835]

319-336, 619-636
[319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636]

nan
[]

3_F2N_15
nan
[]

nan
[]

nan
[]

4_F2S_15
267-302, 363-388, 979-1000
[267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

1-12, 961-978
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978]

nan
[]

5_F4_25
nan
[]

270-305, 779-816
[270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816]

nan
[]

6_F2N_15
nan
[]

481-483, 492-500, 518-542, 568-600
[481, 482, 483, 492, 493, 494, 495, 496, 497, 498, 499, 500, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600]

287-311
[287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311]

8_F1_25
nan
[]

561-587, 928-958
[561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958]

nan
[]

9_F4_25
nan
[]

155-182, 695-724
[155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724]

nan
[]

10_F2S_15
280-298, 358-381, 857-881, 892-909
[280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909]

nan
[]

nan
[]

11_F4_15
891-902
[891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902]

653-665
[653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665]

nan
[]

12_F1A_15
nan
[]

294-314
[294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314]

nan
[]

13_F1_25
nan
[]

502-535
[502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535]

9-43
[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43]

14_F4_25
nan
[]

735-770
[735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770]

nan
[]

15_F2_25
438-478, 534-575
[438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575]

18-62, 68-113, 116-162, 558-561, 565-635, 654-695, 963-1000
[18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 558, 559, 560, 561, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

1
[1]

17_F1A_15
nan
[]

241-267
[241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267]

nan
[]

18_F4_15
nan
[]

nan
[]

116-135
[116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135]

19_F2S_15
312-336, 411-434, 993-1000
[312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 993, 994, 995, 996, 997, 998, 999, 1000]

1-17, 31-53
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53]

nan
[]

20_F2N_15
nan
[]

452-457, 475-502, 528-552
[452, 453, 454, 455, 456, 457, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552]

241-266
[241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266]

21_F1A_15
nan
[]

157-176
[157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176]

nan
[]

22_F1B_15
508-525
[508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525]

700-720
[700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720]

39-67
[39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67]